@import "../../_variables.scss";

/*
    urban-age-hero-section
*/
.urban-age-prop__hero {
	width: 100%;
	padding: 0 10%;
	margin-top: 1rem;

	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	grid-template-areas: "urban-age-prop__hero-left urban-age-prop__hero-right";
	// column-gap: 0.5rem;
}

.urban-age-prop__hero-left,
.urban-age-prop__hero-right {
	height: 100%;
	width: 100%;
}

.urban-age-prop__hero-left {
	border-radius: 1rem;
	height: 80vh;
	grid-area: urban-age-prop__hero-left;

	background-image: url("../../assets/images/urban-age-properties-hero-image-main.jpg");
	background-size: cover;
	background-position: center;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.urban-age-prop__hero-right {
	grid-area: urban-age-prop__hero-right;

	padding-left: 1.5rem;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/*
    Hero-top-left
*/
.hero-left__top {
	@include flex_mixin;
	// background-color: $background_color_secondary;
	margin: 0 5%;
	padding: 1.5rem 0;
}

/*
    Social-icons
*/
.urban-age-prop__hero-social-icons-container {
	@include flex_mixin;
	background-color: $background_color_accent;
	backdrop-filter: blur(0.5rem);
	border-radius: 2rem;
}

.urban-age-prop__hero-social-icons {
	color: #f3de70;
	cursor: pointer;
	margin: 1rem;
	height: 100%;
	margin: 1rem 1.5rem;

	transition: all 250ms ease;
	transform: scale(2);

	&:active {
		transform: scale(1.5);
	}
}

// location
.urban-age-prop__hero-location {
	@include flex_mixin;
}

.location__indicator-container {
	background-color: $background_color_accent;
	backdrop-filter: blur(0.5rem);
	border-radius: 100%;
	height: 3rem;
	margin-right: 1rem;
	width: 3rem;

	position: relative;
}

.location__indicator {
	background-color: #f3de70;
	backdrop-filter: blur(0.5rem);
	border-radius: 100%;
	height: 1rem;
	margin-right: 1rem;
	width: 1rem;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 250ms ease;

	animation: animateLocationIndicator infinite 1.5s;
}

// animate location indicator
@keyframes animateLocationIndicator {
	0% {
		background-color: #f3de70;
		transform: translate(-50%, -50%) scale(1);
	}
	50% {
		background-color: $text_color_accent;
		transform: translate(-50%, -50%) scale(1.1);
		box-shadow: 0 0 10px 5px $background_color_primary;
	}
	100% {
		background-color: #f3de70;
		transform: translate(-50%, -50%) scale(1);
	}
}

.location__name {
	backdrop-filter: blur(0.5rem);
	background-color: $background_color_accent;
	border-radius: 2rem;
	color: #f3de70;
	font-weight: 600;
	padding: 1rem 1.5rem;
}

/*
    Hero-left-bottom
*/

.hero-left__bottom-container {
	backdrop-filter: blur(0.5rem);
	background-color: $background_color_accent;
	border-radius: 1rem;
	display: flex;
	gap: 0.5rem;
	margin: 2% 5%;
}

.urban-age-prop__quick-action-card {
	background-color: transparent;
	border-right: 1px solid $border_color_secondary;
	cursor: pointer;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;

	width: 100%;
	position: relative;
	transition: all 250ms ease;

	&:active {
		transform: scale(0.99);
	}
}

.quick-action-card--pricing {
	border: none;
}

.quick-action__img {
	height: 5rem;
}

.quick-action__up-right-arrow {
	background-color: #f3de7080;
	color: $text_color_accent;
	font-size: 2rem;

	position: absolute;
	top: 10%;
	right: 5%;

	border-radius: 100%;
}

.quick-action__heading {
	color: #f3de70;
	font-weight: 500;
}

.quick-action__description {
	color: $text_color_accent;
	text-align: justify;
	padding: 0.5rem;
	font-weight: 400;
}

// Hero right
.urban-age-prop__hero-right-heading-search {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 1rem;
	border-left: 1px solid $border_color_accent;

	// margin-left: 2rem;
}

.urban-age__hero-right-heading {
	color: $text_color_primary;
	font-weight: 600;
	padding: 0 0.5rem;
}

.search_container--hero-right {
	position: relative;
}

.urban-age-prop-search_box--hero-right {
	background-color: $background_color_accent;
	border: 1px solid $border_color_primary;
	border-radius: 2rem;
	padding: 0.5rem 2.5rem;
	outline: 0;
}

.urban-age-prop-search_icon--hero-right {
	color: $background_color_primary;
	font-size: 1.5rem;
	position: absolute;
	right: 2%;
	top: 50%;
	transform: translate(-50%, -50%);
}

// Hero right middle container
.urban-age-prop__logo-caption-container {
	display: flex;
	align-items: center;
}

.temp-cont {
	height: 12rem;
	// width: 100%;
}

.urban-age-prop__logo--hero-right {
	height: 100%;
}

.urban-age-prop__hero-right-heading {
	color: $text_color_primary;
	font-family: perpetua;
	width: 100%;
	font-size: 2.5rem;

	padding-left: 2.5rem;
}

.urban-age-prop__heading-large {
	font-family: perpetua;
	font-size: 5rem;
}

.add-bg {
	border-radius: 32rem;
	color: #141517;
	font-family: perpetua;
	font-size: 2.5rem;
	margin-right: 0.5rem;
	padding: 0.5rem 1rem;

	position: relative;

	&::before {
		background-color: rgba(220, 168, 94, 0.6);
		border-radius: 2rem;
		filter: blur(0.5rem);
		content: "";
		height: 100%;
		width: 100%;
		position: absolute;

		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: -1;
	}
}

// Right bottom
.urban-age-prop__stats {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, auto));
	grid-template-rows: repeat(2, minmax(0, auto));
	grid-template-areas:
		"stats--happy-customers . ."
		"stats--property-collection stats--experience arrow-right-bottom";

	gap: 1rem 2rem;

	margin-bottom: 2%;
}

.stats {
	background-color: #fff4b1;
	padding: 1rem;
	border-radius: 0.5rem;

	p {
		color: $text_color_primary;
		font-size: 2rem;
		font-weight: 600;
	}

	span {
		color: $text_color_secondary;
		font-size: 1.5rem;
		font-weight: 300;
	}
}

.stats--happy-customers {
	grid-area: stats--happy-customers;
}

.stats--property-collection {
	grid-area: stats--property-collection;
	background-color: #f3de70;
}

.stats--experience {
	grid-area: stats--experience;
}

.arrow-right-bottom {
	grid-area: arrow-right-bottom;

	background-color: #f3de70;
	color: $text_color_accent;
	font-size: 2.5rem;

	border-radius: 100%;

	justify-self: end;
	align-self: center;
}
