/*
    Background Colors
*/
$background_color_accent: #9fc5e940;
$background_color_primary: #dca85e;
$background_color_secondary: #9fc5e980;

$header_background: #ffffff80;

/*
    Border Colors
*/
$border_color_accent: #ffed86;
$border_color_primary: #dca85e;
$border_color_secondary: #d9d9d940;

/*
    Text Colors
*/
$text_color_accent: #fffada;
$text_color_primary: #3d85c5;
$text_color_secondary: #6fa8dd;

/*
    Button Mixin
*/

@mixin button_large() {
	background-color: $background_color_primary;
	border-radius: 50px;
	border: none;
	color: $text_color_accent;
	cursor: pointer;
	font-weight: 500;
	padding: 15px 45px;
	transition: all 250ms ease;

	&:hover {
		color: $text_color_primary;
	}
	&:active {
		transform: scale(0.99);
	}
}

@mixin button_small() {
	background-color: $background_color_primary;
	border-radius: 50px;
	border: none;
	color: $text_color_accent;
	cursor: pointer;
	font-weight: 500;
	padding: 10px 40px;
	transition: all 250ms ease;

	&:hover {
		color: $text_color_primary;
	}
	&:active {
		transform: scale(0.99);
	}
}

// Flex Mixin
@mixin flex_mixin($justify: space-between, $align: center, $direction: row) {
	display: flex;
	align-items: $align;
	flex-direction: $direction;
	justify-content: $justify;
}
